body{
    margin: 0px;
    padding: 0px;
    background-color: #F8F0E5;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: white;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}

nav ul{
    display: flex;
}

nav ul li a{
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: dimgrey;
    font-size: 20px;
    font-weight: 500;
}

nav ul li a:hover{
    background-color: grey;
    color: white;
    border-radius: 5px;
}

.logo{
    font-family: 'Times New Roman', Times, serif;
    color: dimgrey;
    font-size: 25px;
    font-weight: bold;
}

#home{
    width: 100%;
    height: 95vh;
    position: relative;
}

.home p{
    line-height: 0px;
    margin: 55px 0px 25px;
}

.home p:nth-child(1){
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: dimgrey;
    letter-spacing: none;
    font-size: 20px;
}
.home p:nth-child(2){
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: dimgrey;
    letter-spacing: none;
    font-size: 30px;
}
.home p:nth-child(3){
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: dimgrey;
    font-size: 30px;
}

.home{
    position: absolute;
    left: 10%;
    right: 10%;
    transform: translate(13% , 42%);
}

.picture{
    width: 300px;
    height: auto;
    position: absolute;
    left: 80%;
    top: 20%;
    transform: translateX(-70%);
}

.about{
    height: 55vh;
    background-color: #EADBC8;
    padding: 2% 10% 10%;
}

.about-desc{
    margin: 50px 50px;
}

.about-desc p:nth-child(1){
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: dimgrey;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    margin-bottom: 30px;
}

.about-desc p:nth-child(2){
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: dimgrey;
    text-align: center;
}

.row{
    margin: 30px;
    padding: 20px;
    display: flex;
}

.row .column h2{
    text-align: center;
} 

.row .column p{
    text-align: center;
}

.column{
    flex: 50%;
    padding: 30px;
    height: 200px;
} 


.skill{
    height: 65vh;
    background-color: #F8F0E5;
    padding: 2% 10% 10%;
}

.skill-desc{
    margin: 50px 50px;
}

.skill-desc p:nth-child(1){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: dimgrey;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    margin-bottom: 35px;
}

.skill-desc p:nth-child(2){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: dimgrey;
    text-align: center;
}

.box-container{
    display: flex;
    text-align: justify;
    justify-content: space-around;
}

.box-1 , .box-2 , .box-3{
    width: 350px;
    height: 350px;
    box-shadow: 2px 12px 12px rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
}

.box-1 span, .box-2 span, .box-3 span{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #EADBC8;
    color: dimgrey;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.box-1 p:nth-child(3), .box-2 p:nth-child(3), .box-3 p:nth-child(3){
    font-family: 'Times New Roman', Times, serif;
    color: 000;
    width: 250px;
    margin: 0px 0px 50px 0px;
}



.contact{
    height: 75vh;
    background-color: #EADBC8;
    padding: 2% 10% 10%;
}

.contact-desc{
    margin: 50px 50px;
}

.contact-desc p:nth-child(1){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: dimgrey;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    margin-bottom: 35px;
}

.contact-desc p:nth-child(2){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: dimgrey;
    text-align: center;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #F8F0E5;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 15px;
    resize: vertical;
}

input[type=submit]{
    background-color: grey;
    color: white;
    padding: 12px 24px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #F8F0E5;
    color: grey;
}
input:active{
    transform: scale(1.1);
}


footer{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color:#F8F0E5 ;
}

footer{
    font-family: 'Times New Roman', Times, serif;
}

footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: grey;
    line-height: 30px;
}

footer p:nth-child(2){
    font-size: 20px;
    font-weight: bold;
    color: grey;
    line-height: 15px;
    margin-left: 80px;
    margin-right: 50px;
}

.social-icons{
    margin: 30px 0px;
    display: flex;
    text-align: center;
}

.social-icons a{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #EADBC8;
    border-radius: 50%;
}

.social-icons i{
    font-size: 40px;
    color: black;
}
